server:
  port: 8090

spring:
  application:
    name: order-service

# externalized inventory URL
inventory:
  service:
    url: http://localhost:8081

resilience4j:
  circuitbreaker:
    instances:
      inventoryService:
        registerHealthIndicator: true
        slidingWindowSize: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 10s

  retry:
    instances:
      inventoryService:
        maxAttempts: 3
        waitDuration: 1s

  timelimiter:
    instances:
      inventoryService:
        timeoutDuration: 2s
